
.profileCard {
  display: flex;
  flex-direction: column;

  background-color: white;
  margin-top: 24px;
  width: auto;
  padding: 25px;
  border-radius: 5px;
}

img {
  border-radius: 100px;
}

h2 {
  font-weight: bold;
  padding: 20px;
}

p {
  padding: 7px;
}

p:nth-child(2) {
  margin-top: 25px;
}

span {
  font-weight: bold;
}
